

#SavingMoney{
    position: relative;
    overflow: hidden;
}

.money{
    color: black;
    float: left;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-variant: initial;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-stretch: expanded;
    z-index: 2;
    width: 100%;
    background-color: rgb(253, 253, 188);
}

